
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- body -------  */

.general {
    width: 90%;
    max-width: 62.5em;
    margin: 1.25em auto;
    display: grid;
    grid-gap: 1.25em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    'header		 	header'
    'image		    aside'
    'image	        aside'
    'footer	 		footer';
}

/* ------- header -------  */

.general .header {
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-area: header;

    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 0.93em;
    line-height: 1.56rem;
    letter-spacing: -0.08em;
    color: #333333;
}

/* ------- main -------  */

.general .text {
    grid-area: aside;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2.75em;
    margin: 1.87rem auto;
    text-align: left;
    letter-spacing: -0.035rem;
    color: #333333;
    width: 400px;
}

p {
    max-width: 15.62rem;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: -0.035rem;
    color: #4F4F4F;
    text-align: left;
    /* background-color: red; */
}

button {
    background-color: #333333; 
    border: none;
    color: white;
    padding: 1.56rem 2rem;
    font-size: 0.87em;
    font-family: 'Space Mono', monospace;
    margin-top: 8.75rem;   
}

/* ------- aside -------  */

.general .image {
    grid-area: image;
}

/* ------- footer -------  */

.general .name {
    grid-column: 1/-1;
    grid-area: footer;
    text-align: center;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6.25em;
}

/* ------- responsive -------  */

@media screen and (max-width:1200px) {
    body{
        font-size: 14px;
    }
}

@media screen and (max-width:992px) {
    body {
        font-size: 16px;
    }  

    .general {
        grid-template-areas:
        'header		 	header'
        'image		    image'
        'aside	        aside'
        'footer	 		footer';
    }

    h1 {
        margin-right: 500px;
    }
}

@media screen and (max-width:768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width:576px) {
    body {
        font-size: 12px;
    }
}
